# We load modules in our init.rc scripts
allow init self:capability { sys_module };
allow init kernel:system module_request;

# for wifimacwriter
allow init vfat:dir search;
allow init vfat:file {read open getattr};

allow init tmpfs:lnk_file create;

allow init sysfs_devices_tegradc:lnk_file read;
allow init sysfs_devices_tegradc:file getattr;

# accept shim libs
allow init surfaceflinger:process noatsecure;
allow init mediaserver:process noatsecure;
allow init zygote:process noatsecure;
